@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 500px;
}

.persona img {
  width: 60px;
  height: auto;
}

@layer components {
  button:focus {
    @apply outline-none ring ring-focus rounded-md bg-focus-bg text-black;
  }
  a:focus {
    @apply outline-none bg-focus-bg text-black;
  }
}
